<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-10-02T14:00:58Z</date>
	<key>WorkspacePath</key>
	<string>/Users/rave/Documents/Projects.localized/C++/ub-sort/ub-sort.xcodeproj</string>
</dict>
</plist>
